body {
    line-height: 1.5;
    font-size: 20px;
    font-weight: normal;
    padding: 30px 15%;
}

h1 {
    text-align: center;
}
.form-group {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.form-group label {
    flex-basis: 10%;
    text-align: left;
    margin-right: 10px;
}

.form-group input {
    flex-grow: 1;
    width: 400%;
    padding: 10px;
    border: 1px solid #ccc;
}
